.account_details{
	display:flex;
	justify-content: space-between;
	text-align: center;
}
.item1{
	border:2px solid #d9d9d9;
	width: 40%;
	color:--text;
	border-radius:10px;
}
.item1:hover{
	background-color: #dedede;
}
.item2{
	width: 40%;
	border:2px solid #d9d9d9;
	border-radius:10px;
}
.item2:hover{
	background-color: #d1ffdd;
}

#balance_label{
	color:#31f565;
}
#balance {
	color:#0b7527;
}
.transactions{
	height: 40%;
	display:flex;
	flex-direction: column;
}
.transaction_tab {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.transaction_tab caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.transaction_tab tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.transaction_tab th,
.transaction_tab td {
  padding: .625em;
  text-align: center;
}

.transaction_tab th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .transaction_tab {
    border: 0;
  }

  .transaction_tab caption {
    font-size: 1.3em;
  }
  
  .transaction_tab thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .transaction_tab tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .transaction_tab td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .transaction_tab td::before {

    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .transaction_tab td:last-child {
    border-bottom: 0;
  }
  .tr_canceled img{
    	float: right; 
    	width: 2em;
    height: auto;
	}
	.tr_pending img{
    float: right;
		width: 2em;
    height: auto;;
	}
	.tr_completed img{
    float: right;
		width: 2em;
		height: auto;
	}
}

.tr_item1{

}
.tr_item2{
	border:2px solid #d9d9d9;
	border-radius:10px;
}

.tr_canceled {
	align-items: center;
	color:red;
}
.tr_pending {
	align-items: center;
	color:orange;
}
.tr_completed {
	align-items: center;
	color:green;
}

.tr_canceled img{
	float:left;
	width:15%;
	height: 15%;
}
.tr_pending img{
	float:left;
	width:15%;
	height: 15%;
}
.tr_completed img{
	float:left;
	width:15%;
	height: 15%;
}

.balance_cards{
	display:flex;
	justify-content: space-between;
}
.a_btn{
	text-decoration: none;
}
.nav_cards{
	width: 15%;
	display: flex;
	justify-content: space-between;
}
.nav_cards a{
	color:#5B25F5;
}
.nav_cards a:hover{
	color:#305385;
}
.navcards a{
  color:#5B25F5;
}
.navcards a:hover{
  color:#305385;
}
/*le pop-up d'infos*/ 
.modal {
  display: none; /* on cache le pop-up par défaut*/
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* la croix pour fermer le pop-up */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup_div table{

  text-align: center;
}
.title_popup{
  font-weight: bold;
}